<h1>ARE YOUR READY TO PLAY BLASTOFF?</h1>

<%= link_to 'Player_Signup', new_player_path %> <br>

<%= link_to 'Player_Login', player_login_path %> <br>

<%= link_to 'Select_A_Crew', select_crew_path %> <br>

<%= link_to 'Count_Down', count_down_path %> <br>

<%= link_to 'Bail Out', root_path %> <br>


