<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Level name:</strong>
  <%= @player.level_name %>
</p>

<p>
  <strong>Crew name:</strong>
  <%= @player.crew_name %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @player.games_played %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Play Game', play_game_path %>
